<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.shopmgr.userinfo.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.shopmgr.userinfo.entity.UserInfo">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="sex" property="sex" />
        <result column="user_email" property="userEmail" />
        <result column="user_phone" property="userPhone" />
        <result column="user_birthday" property="userBirthday" />
        <result column="regist_time" property="registTime" />
        <result column="role_id" property="roleId" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_pwd, sex, user_email, user_phone, user_birthday, regist_time, role_id, deleted
    </sql>

    <!-- id必须和mapper中的方法名一致，并且是唯一的：resultType表示查询结果对应的java对象，该对象要使用全路径表示 -->
    <select id="selectUserByLogin" resultType="com.springboot.shopmgr.userinfo.dto.LoginUserResponse">
        SELECT
            u.user_id,
            u.user_name,
            r.role_id
        FROM
            user_info u
                INNER JOIN role_info r ON u.role_id = r.role_id
        WHERE
            1 = 1
          <if test="userName != null and userName != ''">
              AND u.user_name = #{userName}
          </if>
          <if test="userPwd != null and userPwd != ''">
              AND u.user_pwd = #{userPwd}
          </if>
    </select>

</mapper>
